doctype html
html
   head
      title Sobre Nosotros
      link(rel="stylesheet", href="/styles/normalize.css")
      link(rel="stylesheet", href="/styles/style.css")
   body
      include ./header.pug
      main 
         h1 Sobre Nosotros??? No lo Sabemos!
         p Pero sabemos que aquí tienes un perrito lindo mira
         p tambien puedes precionar el boton para ver mas perritos
         button#showdogs Presioname!
         img(src="https://i.ytimg.com/vi/C7Au9sr0yDU/maxresdefault.jpg", alt="perrito")#perrito
      script(src="/scripts/script.js") 