doctype html
html
   head
      title Hello
      link(rel="stylesheet", href="/styles/normalize.css")
      link(rel="stylesheet", href="/styles/style.css")
   body
      include ./header.pug
      main 
         h1 ahora danos tu opinion los perros son lindos?
         form#formBody
            label(for="pregunta1") SI 
            input#pregunta1(type="radio", name="pregunta", value='true')
            label(for="pregunta2") NO
            input#pregunta2(type="radio", name="pregunta", value='false')
            button#response responder

         img(src="https://estaticos.muyinteresante.es/media/cache/1140x_thumb/uploads/images/article/605097e95cafe8a1cbab5188/1-perro-corgi-camplo_2.jpg", alt="perrito")

         script(src="/scripts/script.js") 