doctype html
html
   head
      title Hello
      link(rel="stylesheet", href="/styles/normalize.css")
      link(rel="stylesheet", href="/styles/style.css")
   body
      include ./header.pug
      main 
         h1 Bienvenido Esperamos que pases un buen rato viendo perritos!
         p Aquí te dejamos uno
         img(src="https://estaticos.muyinteresante.es/media/cache/1140x_thumb/uploads/images/article/605097e95cafe8a1cbab5188/1-perro-corgi-camplo_2.jpg", alt="perrito")