doctype html
html
   head
      title Hello
      link(rel="stylesheet", href="/styles/normalize.css")
      link(rel="stylesheet", href="/styles/style.css")
   body
      include ./header.pug
      main 
         h1 Eso es un secreto no te lo podemos decir jaja
         p Nuestro perro detective se pregunta porque quieres saberlo mmmmmmm
         img(src="https://assets.adnradio.cl/2019/12/3862952_n_vir2-437x470.jpg", alt="perrito")