doctype html
html
   head
      title Hello
      link(rel="stylesheet", href="/styles/normalize.css")
      link(rel="stylesheet", href="/styles/style.css")
   body
      include ./header.pug
      main 
         h1 Darles a todo el mundo un perrito
         p toma perrito
         img(src="https://images.squarespace-cdn.com/content/v1/5799536020099e4250405d3f/1477154680647-7GE5O3C5VVFKHK6FPD2V/FOTODEPORTADA.jpg?format=1000w", alt="perrito")